.mavi{
  background-color: blue  
}
.sari{
  background-color: yellow 
}
.beyaz{
  background-color: white 
}
.mor{
  background-color: purple 
}
.pembe{
  background-color: pink 
}
.kirmizi{
  background-color: red 
}